NET "CLK" LOC = "T9" | IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator (40%/60% duty-cycle)
NET "CLK" PERIOD = 20.0ns HIGH 40%;
#-------------ram------------------------------------------------------------------------
NET "CE1"  LOC = "P7"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "CE2"  LOC = "N5"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#--------PWM_SIN-------------------------------------------------------------------------
NET "SIN_P"  LOC = "C10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "SIN_N"  LOC = "T3"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#----------ADC---------------------------------------------------------------------------
NET "ADC_tCLK"      LOC = "D9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "ADC_CLB"       LOC = "B5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "ADC0_SIN_DATA<0>"  LOC = "A13" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<1>"  LOC = "B13" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<2>"  LOC = "A12" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<3>"  LOC = "B12" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<4>"  LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<5>"  LOC = "A10" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<6>"  LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<7>"  LOC = "A9"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<8>"  LOC = "A8"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<9>"  LOC = "B8"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<10>" LOC = "A7"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<11>" LOC = "B7"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<12>" LOC = "B6"  | IOSTANDARD = LVCMOS33;
NET "ADC0_SIN_DATA<13>" LOC = "A5"  | IOSTANDARD = LVCMOS33;
NET "ADC0_OUTCLK"      LOC = "B14" | IOSTANDARD = LVCMOS33;

NET "ADC1_COS_DATA<0>"  LOC = "K3"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<1>"  LOC = "K5"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<2>"  LOC = "J4"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<3>"  LOC = "J3"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<4>"  LOC = "H3"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<5>"  LOC = "H4"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<6>"  LOC = "E4"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<7>"  LOC = "G5"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<8>"  LOC = "F4"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<9>"  LOC = "E3"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<10>" LOC = "G4"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<11>" LOC = "F3"  | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<12>" LOC = "M10" | IOSTANDARD = LVCMOS33;
NET "ADC1_COS_DATA<13>" LOC = "P9"  | IOSTANDARD = LVCMOS33;
NET "ADC1_OUTCLK"   LOC = "L3"  | IOSTANDARD = LVCMOS33;

#--------LCD contr----------------------------------
NET "LCD_data<0>" LOC = "H16"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<1>" LOC = "G16"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<2>" LOC = "F15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<3>" LOC = "E15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<4>" LOC = "D15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<5>" LOC = "C15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<6>" LOC = "M6"   | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_data<7>" LOC = "N6"   | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RS"      LOC = "L15"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_EN"      LOC = "K16"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

#--------TEST------------------------------------------------------------------------------
NET "TEST_1"  LOC = "T10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "TEST_2"  LOC = "R9"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "TEST_3"  LOC = "R11"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "TEST_4"  LOC = "T12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "TEST_5"  LOC = "R12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "TEST_1_PROC"  LOC = "C10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_2_PROC"  LOC = "E10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_3_PROC"  LOC = "C11"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_4_PROC"  LOC = "D11"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_5_PROC"  LOC = "C12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_6_PROC"  LOC = "D12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "TEST_1"  LOC = "N11"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_2"  LOC = "P10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_3"  LOC = "R10"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_4"  LOC = "T7"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_5"  LOC = "R7"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_6"  LOC = "N6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "TEST_7"  LOC = "M6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "RESET_SV"   LOC = "A4"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8  | PULLUP;

#NET "RS232_RX"  LOC = "T13"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "RS232_TX"  LOC = "R13"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "LED<0>"  LOC = "K12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<1>"  LOC = "P14"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<2>"  LOC = "L12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<3>"  LOC = "N14"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<4>"  LOC = "P13"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<5>"  LOC = "N12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<6>"  LOC = "P12"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
#NET "LED<7>"  LOC = "P11"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;

#NET "AN3"  LOC = "E13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "AN2"  LOC = "F14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "AN1"  LOC = "G14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "AN0"  LOC = "D14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

#NET "A"  LOC = "E14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "B"  LOC = "G13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "C"  LOC = "N15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "D"  LOC = "P15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E"  LOC = "R16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "F"  LOC = "F13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "G"  LOC = "N16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "DP"  LOC = "P16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

#NET "ADC0_SIN_DATA<0>"  LOC = "K4" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<1>"  LOC = "C1" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<2>"  LOC = "G3" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<3>"  LOC = "C2" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<4>"  LOC = "L4" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<5>"  LOC = "R5" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<6>"  LOC = "M3" | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<7>"  LOC = "T5"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<8>"  LOC = "M4"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<9>"  LOC = "R6"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<10>" LOC = "N3"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<11>" LOC = "T8"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<12>" LOC = "L5"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_SIN_DATA<13>" LOC = "N7"  | IOSTANDARD = LVCMOS33;
#NET "ADC0_OUTCLK"      LOC = "B1" | IOSTANDARD = LVCMOS33;

#NET "BTN2"  LOC = "L13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "BTN3"  LOC = "L14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;